body {
	background-image: url('pictures/background.jpg');

	font-family: Nunito Sans;
	margin: 0;
	padding: 0;


}





.truckTrailer-section {
	background-image: url('pictures/background.jpg');
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* display: flex; */
	/* width: 1366px;
	height: 884px; */
	/* padding: 64px; */
	/* gap: 24px; */

	background-repeat: no-repeat;
	background-attachment: fixed;




}

.truck-foursquares {
	/* display: flex; */
}

.background-image {
	width: 1366px;
	height: 884px;
	opacity: 5%;
}

.truck-image {
	width: 607px;
	height: 238px;
	border-radius: 12px;
	/* padding: 32px 24px 32px 24px; */
	gap: 22px;

}

.section-title {
	width: 1238px;
	height: 128px;

	font-family: Nunito Sans;
	font-weight: 700;
	font-size: 51px;
	line-height: 125%;

	text-align: center;

	
}



.firstrow, .secondrow {
	display: flex; /*to make sure that it doesnt rearange the order */
	width: fill 1238px;
	height: hug 238px;


	gap: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;

}


.top-left, .top-right, .bottom-left, .bottom-right {
	width: 607px;
	height: 238px;
	border-radius: 12px;
	padding: 32px 24px 32px 24px;
	margin-bottom: 20px;
	margin: 10px;
	gap: 22px;
}

/* truck pictures added */
.top-left {
	background-image: url('pictures/doubledropdecktrailer.jpg');
	background-size: cover;
}

.top-right {
	background-image: url('pictures/stepdecktrailer.jpg');
	background-size: cover;
}

.bottom-left {
	background-image: url('pictures/removablegooseneck.jpg');
	background-size: cover;
	background-position: center;
}

.bottom-right {
	background-image: url('pictures/flatbedtrailer.jpg');
	background-size: cover;
	background-position: center down;
}

/* Truck info */
.truck-title {
	color: rgb(255, 255, 255);
	width: 559px;
	height: 30px;

	font-family: Nunito Sans;
	font-weight: 700;
	font-size: 24px;
	line-height: 125%;
	letter-spacing: 0%;
	vertical-align: middle;
}

.dimension-title {
	color: rgb(255, 204, 0, 1);
	width: 559px;
	height: 32px;

	font-family: Nunito Sans;
	font-weight: 700;
	font-size: 18px;
	line-height: 175%;
	letter-spacing: 0%;
	vertical-align: middle;

}

.dimension-info {
	color: rgb(255, 255, 255);
	width: 559px;
	height: 32px;

	font-family: Nunito Sans;
	font-weight: 700;
	font-size: 18px;
	line-height: 175%;
	letter-spacing: 0%;
	vertical-align: middle;
}

.weight-title {
	color: rgb(255, 204, 0, 1);
	width: 559px;
	height: 32px;

	font-family: Nunito Sans;
	font-weight: 400;
	font-size: 18px;
	line-height: 175%;
	letter-spacing: 0%;
	vertical-align: middle;

}

.weight-info {
	color: rgb(255, 255, 255);
	width: 559px;
	height: 32px;

	font-family: Nunito Sans;
	font-weight: 700;
	font-size: 18px;
	line-height: 175%;
	letter-spacing: 0%;
	vertical-align: middle;

}



/* button */
.exploreall-button {
	background-color: rgb(255, 204, 0, 1);
	color: rgb(0, 0, 0, 1);

	width: 240px;
	height: 50px;
	border-radius: 100px;
	cursor: pointer;

	border: solid 2px;
	border-color: rgb(255, 204, 0, 1);

	/* padding: 16px 24px 16px 24px; */
	gap: 12px;

	font-family: Nunito Sans;
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;

	text-align: center;
	align-items: center;

	vertical-align: center;
	display: flex;
	justify-content: center;


}

.exploreall-button:hover {
	background-color: #ffd633;
}

.exploreall-button:active {
	transition
}