body {
	width: 1600px;
	height: 900px;



}





.truckTrailer-section {
	background-image: url('pictures/background.jpg');

	width: 1400px;
	height: 900px;
	padding: 64px;
	/* gap: 24px; */

	background-repeat: no-repeat;
	background-attachment: fixed;


}

.background-image {
	width: 1366px;
	height: 884px;
	opacity: .95;
}

.section-title {
	width: 1238px;
	height: 128px;

	font-family: Nunito Sans;
	font-weight: 700;
	font-size: 51px;
	line-height: 125%;

	text-align: center;

	
}



.firstrow {
	width:1238px;
	height: 238 px;

	gap: 24px;

}

.truck-title {
	color: rgb(255, 255, 255);
	width: 559px;
	height: 30px;

	font-family: Nunito Sans;
	font-weight: 700;
	font-size: 24px;
	line-height: 125%;
	letter-spacing: 0%;
	vertical-align: middle;
}

.dimension-title {
	color: rgb(255, 204, 0, 1);
	width: 559px;
	height: 32px;

	font-family: Nunito Sans;
	font-weight: 700;
	font-size: 18px;
	line-height: 175%;
	letter-spacing: 0%;
	vertical-align: middle;

}

.dimension-info {
	color: rgb(255, 255, 255);
	width: 559px;
	height: 32px;

	font-family: Nunito Sans;
	font-weight: 700;
	font-size: 18px;
	line-height: 175%;
	letter-spacing: 0%;
	vertical-align: middle;
}

.weight-title {
	color: rgb(255, 204, 0, 1);
	width: 559px;
	height: 32px;

	font-family: Nunito Sans;
	font-weight: 400;
	font-size: 18px;
	line-height: 175%;
	letter-spacing: 0%;
	vertical-align: middle;

}

.weight-info {
	color: rgb(255, 255, 255);
	width: 559px;
	height: 32px;

	font-family: Nunito Sans;
	font-weight: 700;
	font-size: 18px;
	line-height: 175%;
	letter-spacing: 0%;
	vertical-align: middle;

}


.secondrow{
	width:1238px;
	height: 238 px;

	gap: 24px;
}

.exploreall-button {
	background-color: rgb(255, 204, 0, 1);
	color: rgb(0, 0, 0, 1);

	width: 240px;
	height: 50px;
	border-radius: 100px;
	cursor: pointer;

	border: solid 2px;
	border-color: rgb(255, 204, 0, 1);

	padding: 16px 24px 16px 24px;
	gap: 12px;

	font-family: Nunito Sans;
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	text-align: center;


}